graphviz
matplotlib
numpy
pandas
plotly
requests
streamlit
streamlit_timeline
streamlit-player
typing-extensions
langchain
langchain_community
langchain_core
transformers
torch
sqlite3>=3.35.0
chromadb>=0.2.0
sentence-transformers
pypdf
ollama