graphviz
matplotlib
numpy
pandas
plotly
requests
streamlit
streamlit_timeline
streamlit-player
typing-extensions
langchain
langchain_community
langchain_core
transformers
torch
chromadb
sentence-transformers
pypdf
ollama